 /*Cari Mobil*/

 .hero {
   background-color: #F1F3FF;
 }

 .big-frame-cari {
   position: initial;
   width: 1047px;
   height: 106px;
   margin: 0px 80px -100px;
   gap: 0px;
   border-radius: 8px;
   opacity: 0px;
   background-color: white;
   box-shadow: 0px 0px 10px 0px #00000026;
 }

 .nav-bigframe {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .frame-nama-mobil {
    width: 208px;
    height: 36px;
    gap: 8px;
    border-radius: 4px;
    border: 1px;
    opacity: 0px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
    border-style: ridge;
    border-color: #D0D0D0;
    display: flex;
    align-items: center;
 }

 .type-pencarianmu {
   font-family: Arial;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
 }

 .type-inside-search {
    font-family: Arial;
    font-size: 8px;
    font-weight: 300;
    line-height: 18px;
 }

 .type-inside-search-b {
    font-family: Arial;
    font-size: 8px;
    font-weight: 700;
    line-height: 18px;
 }

 .type-head-search {
    font-family: Arial;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
 }

 .frame-kategori {
    width: 208px;
    height: 36px;
    gap: 0px;
    border-radius: 4px;
    border: 1px;
    opacity: 0px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
    border-style: ridge;
    border-color: #D4D4D4;
    }

 .box-chev {
    width: 24px;
    height: 24px;
 }

 .nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 /* cards */

 .nav-cards {
   display: flex;
   justify-content: space-around;
   gap: 24px;
   margin: 111px 196px;
 }

 .frame-card {
   width: 333px;
   height: 478px;
   padding: 24px;
   gap: 24px;
   border-style: ridge;
   border-radius: 8px;
   opacity: 0px;
   background-color: white;
 }

 .frame-car-pict {
   width: 285px;
   height: 222px;
   margin-bottom: 16px;
 }

.type-card-car {
   font-family: Arial;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px; 
   margin-bottom: 8px;  
}

.type-card-fill {
   font-family: Arial;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   margin-bottom: 8px;
}

.button {
   width: 285px;
   height: 48px;
   gap: 12px;
   padding: 14px;
   border-radius: 2px 0px 0px 0px;
   opacity: 0px;
   background-color: #5CB85F;
   margin-top: 16px;
   color: white;
   font-family: Arial;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-align: center;
}